APScheduler==3.11.0
asgiref==3.8.1
Django==5.1.4
django-extensions==3.2.3
django-solo==2.4.0
mysqlclient==2.2.6
pillow==11.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
