{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog/blog_approve.css' %}">
{% endblock %}

{% block content %}
<div class="blog-container">
    <h2 class="blog-title">Approve Blog: {{ blog.title }}</h2>
    <p class="blog-author">By: {{ blog.author.username }}</p>
    <p class="blog-content">{{ blog.content|linebreaksbr }}</p>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="approve-button">Approve</button>
        </form>
        <a href="{% url 'blog-pending-list' %}" class="cancel-button">Cancel</a>
    </div>
</div>
{% endblock%}