{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/jewelry/jewelry_delete.css' %}">
{% endblock %}

{% block content %}
<div class="delete-container">
    <h2>Delete Jewelry</h2>
    <p>Are you sure you want to delete {{ jewelry.name }}?</p>
    <form method="post" class="delete-form">
        {% csrf_token %}
        <button type="submit">Delete</button>
        <a href="{% url 'jewelry:jewelry-detail' jewelry.pk %}" class="cancel-button">Cancel</a>
    </form>
</div>
{% endblock %}